{% extends "base.html" %}

{% block title %}
AddWord(RFLW)
{% endblock title %}

{% block content %}
<br>
<br>
<figure class="text-center">
    <blockquote class="blockquote">
      <p>最高の英語学習がここにある</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Read files and learn words <cite title="Source Title">by Team18</cite>
    </figcaption>
</figure>


<br>
<div class="container p-5 m-1">
    <form action="#" method="POST">
        <table>
            {{form.as_table}}
        </table>
        {% csrf_token %}
        <input type="submit" value="New Save">
    </form>
</div>

{% endblock content %}
