{% extends "base.html" %}
{% load thesis_id %}
{% load strings %}

{% block title %}
{% call_string "input_title_tag" %}
{% endblock title %}
{% block content %}

<!-- https://getbootstrap.jp/docs/5.0/components/modal/ -->

<!--d&d-->
<table class="edit-profile-table">
  <tr>
      <td>
          <div id="dragandrophandler" class="text-center">{% call_string "exp_d_and_d" %}</div>
          <p id="error_list"></p>
          <p id="preview"></p>
          <p class="text-center">{% call_string "exp_pdf_1" %}{% get_latest_id %}{% call_string "exp_pdf_2" %}</p>
          <p class="text-center">{% call_string "exp_pdf_3" %}</p>
          <br>

          <div class="btn-group" role="group" aria-label="Basic example">
              <form action="" method="post" id="form_element" enctype="multipart/form-data" name="foo" onsubmit="return check();">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" onclick="location.href='{% url 'all_list' %}?search={% get_latest_id %}'">Post</button>
              </form>
          </div>
      </td>
  </tr>
</table>

<!--d&d-->

{% endblock content %}
