{% extends "base.html" %}
{% load strings %}

{% block title %}
{% call_string "menu_title_tag" %}
{% endblock title %}

{% block content %}

<div class="p-5 m-5">
    <dl class="row">
        <dt class="col-sm-3">
            <a href="{% url 'input_da' %}">
                {% call_string "input_pdf" %}
            </a>
        </dt>
        <dd class="col-sm-9">{% call_string "expla_input_pdf" %}</dd>
        <br>
        <br>
        <dt class="col-sm-3">
            <a href="{% url 'quiz' %}">
                {% call_string "quiz" %}
            </a>
        </dt>
        <dd class="col-sm-9">
          <p>{% call_string "exp_quiz" %}</p>
        </dd>
        <br>
        <br>
        <dt class="col-sm-3">
            <a href="{% url 'add_words' %}">
                {% call_string "add_word" %}
            </a>
        </dt>
        <dd class="col-sm-9">{% call_string "add_exp" %}</dd>
        <br>
        <br>
        <dt class="col-sm-3">
            <a href="{% url 'all_list' %}">
                {% call_string "view_db" %}
            </a></dt>
        </dt>
        <dd class="col-sm-9">{% call_string "view_exp" %}</dd>
        <br>
        <br>
    </dl>
</div>

{% endblock content %}
