{% extends "base.html" %} 
{% load tmp %}

{% block title %} PDF(RFLW) {% endblock title %} {% block content %}

<br />
<br />
<figure class="text-center">
  <blockquote class="blockquote">
    <p>最高の英語学習がここにある</p>
  </blockquote>
  <figcaption class="blockquote-footer">Read files and learn words <cite title="Source Title">by Team18</cite></figcaption>
</figure>

<!-- https://getbootstrap.jp/docs/5.0/components/modal/ -->

<div class="alert alert-primary" role="alert">ファイルの送信が完了いたしました.</div>

<p>{% add_sample_data %}</p>

<!-- <p>{{pdf}}</p> -->

<p class="text-center">
  <a href="{% url 'menu' %}" class="btn btn-primary">結果を見る(少し時間を置いてからクリック)</a>
</p>

{% endblock content %}
